.promo_sedona{
	padding: 0 20px 35px;
	text-align: center;
	background: $white;

	.headline,
	.subline{
		line-height: 26px;
		text-transform: uppercase;
	}

	.headline{
		@include ptsans-bold;
		font-size: 18px;
		margin-bottom: 20px;
	}

	.subline{
		font-size: 14px;
		color: $light-black;
	}


}

.promo_one{
	text-align: center;

	.promo-header{
		background: $col-mm-hover url(../svg/bg-triangle.svg) no-repeat center top;
		padding: 45px 20px 45px;

		.promo-headline,
		.eff,
		.short-promo{
			text-transform: uppercase;
			color: $white;
		}

		.promo-headline{
			font-size: 20px;
			margin-bottom: 18px;
		}

		.short-promo{
	    margin-top: 24px;
	    font-size: 14px;
	    line-height: 24px;
		}

	}

	.promo-body{
		max-height: 260px;
		.promo-city{
			max-width: 100%;
		}
	}

	.promo-footer{
		// начинаем описывать
	}
}
