@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
span {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #333333;
}

@font-face {
  font-family: 'PT Sans', Arial, sans-serif;
  src: url(../fonts/ptsans.woff);
}

@font-face {
  font-family: 'PT Sans', Arial, sans-serif;
  src: url(../fonts/PT_Sans-Web_regular);
}

html,
body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #333333;
}

/*
  ! - подсказка!
  ~ если хотим чтобы свойство записаное в root,
  наследовалось то добавляем к нужному блоку:
      ----> box-sizing: content-box; <----


*/
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

.wrapper {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
  -webkit-box-shadow: 0 0 20px #ccc;
          box-shadow: 0 0 20px #ccc;
}

button {
  padding: 0;
  margin: 0;
}

.btn, .btn-blue {
  max-width: 455px;
  width: 100%;
  height: 55px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: none;
  padding: 8px 12px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.btn:focus, .btn-blue:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #4b7894;
}

.btn-blue {
  background: #81b3d2;
  color: #ffffff;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transition-property: background, color, outline;
  -o-transition-property: background, color, outline;
  transition-property: background, color, outline;
}

.btn-blue:hover {
  background: #669ec0;
}

.btn-blue:active {
  background: #5496bd;
  color: #94b9d2;
}

.icons, .icon-tw, .icon-face, .icon-you {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 46px;
  width: 100%;
  height: 48px;
  background: #81b3d2;
}

.icons:hover, .icon-tw:hover, .icon-face:hover, .icon-you:hover {
  background: #669ec0;
}

.icons:focus, .icon-tw:focus, .icon-face:focus, .icon-you:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #4b7894;
}

.icon-tw::before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 15px;
  background: url("../img/icons/twitter.png") no-repeat;
}

.icon-face::before {
  content: '';
  display: inline-block;
  width: 9px;
  height: 19px;
  background: url("../img/icons/facebook.png") no-repeat;
}

.icon-you::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 14px;
  background: url("../img/icons/youtob.png") no-repeat;
}

.header {
  width: 100%;
  height: 445px;
  background-image: url(../img/bg-back-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}

.main_logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
  margin-left: -70px;
}

.drop-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 225px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-align: center;
}

.drop-menu-item {
  padding-top: 15px;
  border-bottom: 1px solid #5496bd;
}

.drop-menu-link {
  color: #ffffff;
}

.drop-menu-close {
  position: absolute;
  top: 15px;
  right: 22px;
  bottom: 0;
  width: 25px;
  height: 25px;
  border: 0;
  outline: 0;
  background-color: transparent;
  background-image: url(../svg/icon-cross.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.drop--btn {
  width: 100%;
  height: 25%;
  background: #81b3d2;
}

.drop--btn:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #4b7894;
}

.drop--btn:hover {
  background: #669ec0;
}

.drop--btn:active {
  background: #5496bd;
  color: #94b9d2;
}
