.header{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 445px;
  background-image: url(../img/bg-back-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    padding-top: 1em;
    width: inherit;
    height: inherit;
    text-align: center;

    &-slogan {
      min-width: 280px;
      max-width: 480px;
      margin-top: 65px;
    }
  }
}

.nav {
  position: fixed;
  z-index: 100;
  width: 100%; // 95.1% - для десктопа!
  height: 60px;
  background-color: $white;

  &__menu {
    display: none;
  }

}

.main_logo {
  position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
  margin-left: -70px;
}

// media querys
@import "media-t";
@import "media-d";
