/* header block tablet media querys */
@media only screen and (min-width: 768px) {
  .header {
    height: 520px;
  }
  .header .nav {
    position: static;
  }
  .header .nav__menu {
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1em;
  }
  .header .nav__menu-item {
    width: 25%;
  }
  .header .nav__menu .menu-item--right {
    text-align: right;
  }
  .header__content-slogan {
    margin-top: 10px;
  }
  .drop-menu-toggle {
    display: none;
  }
  .drop-menu {
    display: none;
  }
}
