/* promo-1 block tablet media querys */

@media only screen and (min-width: 768px)
{
  .promo-1 {
    display: flex;
    flex-wrap: wrap;
    height: auto;

    &__header,
    &__img-block {
      height: 256px;
    }

    &__header{
      width: 35%;
      padding-top: 50px;
      padding-left: 45px;
      padding-right: 45px;
      text-align: center;
    }

    &__img-block {
      width: 65%;

      &-img {
        width: 100%;
      }
    }

    &__content--flex {
      flex-direction: row;
      justify-content: space-between;
      box-sizing: content-box;
    }

    &__content {
      height: 256px;
      padding-top: 50px;
      padding-bottom: 50px;

      &__box {
        width: 165px;
        height: 200px;
        padding-top: 90px;
        padding-left: 0;
        text-align: center;
      } //promo-1__box
    } //promo-1__content


  } //promo-1

  .burger--icon,
  .house--icon,
  .gift--icon {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 65px 70px;
  }
} // media
