// Кнопки, храним и описываем

button{
	padding: 0;
	margin: 0;
}

.btn{
	max-width: 455px;
			width: 100%;
			height: 55px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	padding: 8px 12px;
	text-transform: uppercase;
	@include ptsans-bold;
		&:focus{
			outline-style: solid;
			outline-width: 2px;
			outline-color: $col-outline;
		}
}

.btn-blue{
	@extend .btn;
	background: $col-blue-btn;
	color: $white;
	@include ease($easeIn-2s, background, color, outline);
		&:hover{
			background: $col-blue-btn-hover;
		}
		&:active{
			background: $col-blue-btn-down;
			color: $txt-btn-ghost;
		}
}


.icons{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	// position: relative;
	max-width: 46px;
			width: 100%;
			height: 48px;
	background: $col-icon;
		&:hover{
			background: $col-icon-hover;
		}
		&:focus{
			outline-style: solid;
			outline-width: 2px;
			outline-color: $col-outline;
		}
}

.icon-tw{
	@extend .icons;
		&::before{
			content: '';
			display: inline-block;
			width: 19px;
			height: 15px;
			background: url('../img/icons/twitter.png') no-repeat;
		}
}

.icon-face{
	@extend .icons;
		&::before{
			content: '';
			display: inline-block;
			width: 9px;
			height: 19px;
			background: url('../img/icons/facebook.png') no-repeat;
		}
}

.icon-you{
	@extend .icons;
		&::before{
			content: '';
			display: inline-block;
			width: 20px;
			height: 14px;
			background: url('../img/icons/youtob.png') no-repeat;
		}
}
